# Sistema operativo
Thumbs.db
Desktop.ini
.DS_Store

# Temporales y ofimática
~$*
*.tmp
*.bak

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Node
node_modules/
